.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
}
.item{
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.item:hover{
    text-decoration: underline;
    color: #61dafb;
}