:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: black;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}
button{
margin-top: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px; 
}

.label input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.label input:focus {
  border-color: #61dafb;
  outline: none;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  background-color: #61dafb;
}
